.DS_Store
node_modules
/dist
/upload
*.log
package-json.lock
styleguide

# local env files
.env.local
.env.*.local
.env
.env.*

# Build
dist

# User
.DS_Store
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.editorconfig
.vscode/settings.json

# Shopify Theme & Section Settings
settings_data.json
