.swiper-container-horizontal > .swiper-scrollbar {
  @apply left-0;
}

.swiper-button-prev {
  @apply rounded-none w-5 left-0 h-e250;
  margin-top: -145px;
}
.swiper-button-next {
  @apply rounded-none w-5 right-0 h-e250;
  margin-top: -145px;
}
.swiper-button-next > svg,
.swiper-button-prev > svg {
  transform: translate(-50%, -50%) !important;
}
.button-collection-card {
  .button-image-container {
    @apply transition-all duration-200 relative top-0;
  }
  &:hover .button-image-container {
    @apply -top-10;
  }
}
