{% if shop.metafields.custom_fields["store_country"] == "usa" %}
    <div class="yotpo-widget-instance" data-yotpo-instance-id="67214"></div>
{% else %}
    <div class="yotpo-widget-instance" data-yotpo-instance-id="70197"></div>
{% endif %}

{% schema %}
  {
    "name": "Referral Section",
    "presets": [
    {
        "name": "Referral Section",
        "category": "Content"
    }
    ]
  }
{% endschema %}