{%- layout 'theme' -%}
<div data-vue-component="AccountBase" class="grid grid-cols-1 sm:grid-cols-2">
  <div class="ratio ro-56-5">
    <img src="{{ 'account-page-image.jpg' | file_img_url: '900x' }}" alt="Account Image" class="object-cover w-full h-full absolute top-0 left-0">
  </div>
  <div class="bg-white px-4 py-e24 md:py-e125 sm:px-e150">
    {%- include 'account-forms' with view: 'reset' -%} 
  </div>
</div>


