<section class="mt2">
  <div  class="mx-4 md:mx-0">
    <h1 class="hidden md:block font-primary font-bold  text-xl tracking-header uppercase mb-6">{{ 'customer.navigation.order_history' | t }}</h1>
    {%- include 'account-orders' -%}
  </div>
</section>
