<div class="flex flex-col">

  {%- render 'super_collection--superstar-banner' -%}

  {%- render 'super_collection--product-carousel' -%}

  {%- render 'super_collection--fifty-fifty' -%}

  {%- render 'super_collection--hero-banner' -%}

  {%- render 'super_collection--tile-grid' -%}

  {%- render 'super_collection--promo-banner' -%}

  {%- render 'super_collection--column-section' -%}

  {%- render 'super_collection--button-collection' -%}

  {%- render 'super_collection--collection-blocks' -%}
  
</div>

<style>
  .boost-pfs-filter-loading {
    display: none !important;
  }
</style>