{%- assign mod_errors = errors | default: false -%}


{%- if mod_errors -%}
  {%- for field in mod_errors -%}
    {%- if field == 'form' -%}
      <p class="p bg-white font-body p-4 text-e14 my-e10 text-red-700">{{- mod_errors.messages[field] -}}</p>
    {%- else -%}
      <p class="p bg-white font-body p-4 text-e14 my-e10 text-red-700">{{ mod_errors.translated_fields[field] | capitalize }} {{ mod_errors.messages[field] }}.</p>
    {%- endif -%}
    {%- assign error_text = mod_errors.messages[field] -%}
  {%- endfor -%}
{%- endif -%}

{%- assign mod_errors = nil -%}