{% section 'nav--bottompromobar' %}
<header class="sticky top-0 left-0 z-40">
  {% section 'nav--navbar' %}
</header>
<div class="hidden md:block">
  {% section 'global-countdown' %}
</div>
<div class="block md:hidden">
  {% section 'global-countdown' %}
</div>